<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions"
     xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags"
     xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" id="footer" version="2.0">
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <jsp:output omit-xml-declaration="yes"/>

  <spring:url value="/resources/images/img-title-login.png" var="img_title_login"/>
  <spring:url value="/image/history-clock-button.png" var="history_icon"/>
  <spring:url value="/image/excel.png" var="excel_icon"/>
  <spring:url value="/image/analysis.png" var="analysis_icon"/>
  <spring:url value="/resources/images/search.png" var="search_icon"/>
  <spring:url value="/resources/images/pencil.png" var="click_icon"/>

  <style>
    .group-header-style{
      font-weight: 900;
      font-size: 20px;
    }

    .add-group-header-style{
      font-weight: 900;
      font-size: 20px;
      text-align: center;
      background: gainsboro;
      margin-top: 10px;

    }
    .border-item-white{
      border: 2px solid #f2f2f2;
      cursor: pointer;
    }
    .card-detail-style{
      border: 2px solid #f2f2f2;
      cursor: pointer;
      background: white;
      height: 70px;
    }
    .header-board-stylef{
      font-size: 20px;
      font-weight: 900;
      /*margin-bottom: 20px;*/
    }
    .auto-scroll{
      overflow-x:scroll;
      overflow-y:visible;
      height: 500px;
    }
    .style-head-col{
      /*position: absolute !important;*/
      width: 300px !important;
      background: yellow;
      table-layout:fixed;
    }


  </style>



  <div  id="main">

<!--    <div class="container overflow-auto">-->
<!--      <div id="header_group" class="row group-header-style">-->
<!--        <div class="col-sm-3">Presale_TCNK</div>-->
<!--        <div class="col-sm-3">Presale_TCKP</div>-->
<!--        <div class="col-sm-3">Presale_TCSP</div>-->
<!--        <div class="col-sm-3">Presale_TCPT</div>-->
<!--      </div>-->
<!--      <div id="header_add_group" class="row add-group-header-style">-->
<!--        <div class="col-sm-3 border-item-white">+</div>-->
<!--        <div class="col-sm-3 border-item-white">+</div>-->
<!--        <div class="col-sm-3 border-item-white">+</div>-->
<!--        <div class="col-sm-3 border-item-white">+</div>-->
<!--      </div>-->
<!--      <div name="card_issue" class="row">-->
<!--        <div class="col-sm-3 card-detail-style">เข้าใช้งานระบบไม่ได้</div>-->
<!--      </div>-->
<!--      <div name="card_issue" class="row">-->
<!--        <div class="col-sm-3 card-detail-style">ข้อมูลลูกค้า จีเอฟพีที หายครับ เคลียแคชแล้ว รบกวนตรวจสอบให้ทีคับ</div>-->
<!--      </div>-->
<!--      <div name="card_issue" class="row">-->
<!--        <div class="col-sm-3 card-detail-style">SS team ค่ะ-->
<!--          ข้อมูลลูกค้า จีเอฟพีที หายครับ เคลียแคชแล้ว รบกวนตรวจสอบให้ทีคับ</div>-->
<!--      </div>-->
<!--    </div>-->

    <div class="auto-scroll" style="table-layout:fixed; width: 100% !important;; background: red">
      <table>
        <tr>
          <td class="style-head-col">TCSP</td>
          <td class="style-head-col">TCSK</td>
          <td class="style-head-col">AAAA</td>
          <td class="style-head-col">BBBBBBBB</td>
          <td class="style-head-col">CCC</td>
          <td class="style-head-col">DDD</td>
          <td class="style-head-col">TCSP</td>
          <td class="style-head-col">TCSK</td>
          <td class="style-head-col">AAAA</td>
          <td class="style-head-col">BBBBBBBB</td>
          <td class="style-head-col">CCC</td>
          <td class="style-head-col">DDD</td>


        </tr>
      </table>
    </div>


  </div>


  <spring:url value="${urls.getForLookupPath('/resources/scripts/app/board/board.js')}"        var="boardJS" />
  <script type="text/javascript"  src="${boardJS}" ><!-- required for FF3 and Opera --></script>


</div>



