<html xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:tiles="http://tiles.apache.org/tags-tiles" xmlns:spring="http://www.springframework.org/tags" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" >  
	
	<jsp:output doctype-root-element="HTML" doctype-system="about:legacy-compat" />
	
	<jsp:directive.page contentType="text/html;charset=UTF-8" />  
	<jsp:directive.page pageEncoding="UTF-8" /> 
			
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=8" />	
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta http-equiv="PRAGMA" content="NO-CACHE" />
        <meta name="_csrf" content="${_csrf.token}"/>
    	<meta name="_csrf_header" content="${_csrf.headerName}"/>
		<util:load-scripts />
		
		<spring:url value="/resources/images/logo.png" var="appicon" />
		<link rel="shortcut icon" href="${appicon}" type="image/x-icon"/>
        <link rel="apple-touch-icon" sizes="60x60" href="${appicon}"/>
        <link rel="apple-touch-startup-image" href="${appicon}"/>
		
		<spring:message code="application_name" var="app_name" htmlEscape="false"/>
		<title><spring:message code="welcome_h3" arguments="${app_name}" /></title>
		<meta name="apple-mobile-web-app-title" content="${app_name}" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<!-- 
		<spring:url value="/resources/scripts/sockjs-0.3.4.js" var="sockjs_js" />
        <spring:url value="${urls.getForLookupPath('/resources/scripts/stomp.js')}"        var="stomp_js" />
        <spring:url value="${urls.getForLookupPath('/resources/data.zip')}"        var="data_zip" /> -->

       
        
		
	</head>
	
  	<body class="tundra spring" >
  		<div class="container-mp">
			<!-- Push Wrapper -->
			<div class="mp-pusher" id="mp-pusher"  style="padding-top: 10px;">
				<div class="scroller"><!-- this is for emulating position fixed of the nav -->
					<div class="scroller-inner">
					    <tiles:insertAttribute name="body"/> 
			    	    <tiles:insertAttribute name="footer" ignore="true"/>
					</div><!-- /scroller-inner -->
				</div><!-- /scroller -->

			</div><!-- /pusher -->
		</div><!-- /container -->
		
		
		
		<tiles:insertAttribute name="plugin" ignore="true"/>
		
		

       
	</body>
</html>
