<html xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:tiles="http://tiles.apache.org/tags-tiles" xmlns:spring="http://www.springframework.org/tags" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" >

<jsp:output doctype-root-element="HTML" doctype-system="about:legacy-compat" />

<jsp:directive.page contentType="text/html;charset=UTF-8" />
<jsp:directive.page pageEncoding="UTF-8" />

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="PRAGMA" content="NO-CACHE" />
    <!--<meta name="_csrf" content="${_csrf.token}"/>-->
    <!--<meta name="_csrf_header" content="${_csrf.headerName}"/>-->

    <spring:url value="/resources/scripts/jquery-1.11.1.min.js" 			var="jquery_js_url" />
    <script src="${jquery_js_url}" 				type="text/javascript"><!-- required for FF3 and Opera --></script>

    <spring:url value="/resources/styles/bootstrap.min.css" 			                var="bootstrap_css_url" />
    <link rel="stylesheet" type="text/css" href="${bootstrap_css_url}" />

    <spring:url value="${urls.getForLookupPath('/resources/scripts/app/qrcode/viewAs.js')}"        var="viewAs_js" />
    <script type="text/javascript"  src="${viewAs_js}" ><!-- required for FF3 and Opera --></script>

</head>

<body>
    <div id="wrapper">
        <div id="main">
            <tiles:insertAttribute name="body"/>
            <tiles:insertAttribute name="footer" ignore="true"/>
        </div>
    </div>
</body>
</html>
