<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions"
     xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags"
     xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" id="footer" version="2.0">
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <jsp:output omit-xml-declaration="yes"/>

  <spring:url value="/resources/images/img-title-login.png" var="img_title_login"/>
  <spring:url value="/image/history-clock-button.png" var="history_icon"/>
  <spring:url value="/image/excel.png" var="excel_icon"/>
  <spring:url value="/image/analysis.png" var="analysis_icon"/>
  <spring:url value="/resources/images/search.png" var="search_icon"/>
  <spring:url value="/resources/images/add.png" var="click_icon"/>

  <style>
    .group-header-style{
      font-weight: 900;
      font-size: 20px;
    }

    .add-group-header-style{
      font-weight: 900;
      font-size: 20px;
      text-align: center;
      background: gainsboro;
      margin-top: 10px;

    }
    .border-item-white{
      /*border: 2px solid #f2f2f2;*/
      cursor: pointer;
      font-weight: 900;
      background: #9dcbf1bd;
      text-align: center;
      height: 27px;
      padding-top: 0px;
      border-radius: 5px;
      margin-top: 5px;
      font-family: sans-serif;
      font-size: 20px;
      color:#2390e6  !important;
    }
    .border-item-white:hover {

      border: 2px solid #6db7f5;
      cursor: pointer;
      background: #9dcbf1bd;
      text-align: center;
    }

    .border-item-white:hover > a {
      color: #2390e6;
    }

    .user-detail-style{
      text-align: left !important;
      border: 2px solid #f2f2f2;
      border-radius: 8px;
      cursor: pointer;
      /*color: white;*/
      background: #d2d2d2ba;
      /*height: 70px;*/
      font-size: 16px !important;
      font-weight: 500 !important;
      display: block;
      /*display: -webkit-box;*/
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 5px;
      padding-right: 5px;
      margin-top: 5px;
      padding-top: 5px;

    }
    .user-detail-style:hover{
      cursor: pointer;
      background: #d2d2d2ba;
      /*height: 70px;*/
      /*font-size: 18px !important;*/
      /*font-weight: 900 !important;*/
      font-family: sans-serif;
      border: 2px solid #f2819e !important;
      /*color:#2390e6;*/

    }
    .header-board-stylef{
      font-size: 20px;
      font-weight: 900;
      /*margin-bottom: 20px;*/
    }
    .auto-scroll{
      overflow-x:scroll !important;
      overflow-y:visible !important;;
      height: 500px !important;;
      width: 1000px; !important;
    }
    .style-head-col{
      /*position: absolute !important;*/
      width: 300px !important;
      background: yellow;
      table-layout:fixed;
    }


    tr {
      width: 100%;
      display: inline-table;
      table-layout: fixed;
    }
    th {
      width: auto;
      display: inline-table;
      table-layout: fixed;
      border-top: 0px solid #f2f2f2 !important;
    }

    table{
      height:300px;
      display: -moz-groupbox;


    }
    tbody{
      overflow-y: scroll;
      height: 500px;
      width: 100%;
      position: absolute;
    }
    .header-Text{
      color: #2390e6;
      font-size: 20px;
      font-weight: 900;
      margin-bottom: 5px;
      width: auto;
      border-radius: 5px;
      /*text-align: center;*/
      padding: 5px;
      margin: 5px;
      font-family: sans-serif;
    }

    .style-group-name{
      width: 300px !important;
      margin: 0px;
      height: 30px !important;
      background: #6db7f5;
      border-radius: 5px;
      margin-right: 5px;
      padding-top: 5px;

    }

    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
      border-top: 0px solid #ddd;
    }

    .img-size{
      width: 30px;
      height: 30px;
      cursor: pointer;
    }


  </style>
  <div class="auto-scroll" id="main">
    <div class="header-Text">
      <label style="font-family: sans-serif !important;" >Presales Mobility (PSM)</label>
      <label class="pull-right" style="font-family: sans-serif !important;    margin-left: 5px;color: #4fadc1 !important;" >IMPORT GROUP</label>
      <img id="add_line_group" class="pull-right img-size" src="${click_icon}"/>

    </div>
    <jsp:text/>
    <table id="mainTable"  style="overflow: auto" class="table">
      <th  id="headColumn">
        <jsp:text/>
      </th>
    </table>
    <!--        <div class="container overflow-auto">-->
    <!--          <div id="header_group" class="row group-header-style">-->
    <!--            <jsp:text/>-->
    <!--          </div>-->
    <!--        </div>-->
  </div>


  <spring:url value="${urls.getForLookupPath('/resources/scripts/app/userLine/userLine.js')}"        var="userLineJS" />
  <script type="text/javascript"  src="${userLineJS}" ><!-- required for FF3 and Opera --></script>



</div>



